{% load staticfiles %}

<html ng-app='viewer.mainApp'>
<head>
  <title>{% block pageTitle%} {% endblock %}</title>

  <link rel='stylesheet' href='{% static "css/bootstrap.css" %}'>
  <link rel='stylesheet' href='{% static "css/bootstrap-theme.css" %}'>
  <link rel='stylesheet' href='{% static "css/viewer.css" %}'>
</head>

<body ng-controller='viewerApp'>
{% block content %}
{% verbatim %}

<div class='container'>

<div class='jumbotron'>
    <h1>Przeglądarka bazy JIM</h1>
    <p></p>
  </div>

<div class='row'> <!-- First row -->
      <accordion>
        <accordion-group heading='Pokaż opcje filtrowania' is-open='filterPanelOpened'>
          <div class='col-md-6'> <!-- First col -->
          <div> <!-- Gestor filter -->
            <select class='form-control'
                    ng-model='gestors.selectedValue'
                    ng-options='gestor.gestorName for gestor in gestors.values'
                    ng-disabled='!gestors.filterActive'>
            </select>
            <label>
              <input type='checkbox' ng-model='gestors.filterActive' />
              Filtruj Gestorów
            </label>
          </div> <!-- Gestor filter -->

          <div> <!-- Status filter -->
            <select class='form-control'
                    ng-model='statuses.selectedValue'
                    ng-options='status.status for status in statuses.values'
                    ng-disabled='!statuses.filterActive'>
            </select>

            <label>
            <input type='checkbox' ng-model='statuses.filterActive' />
            Filtruj status
            </label>
          </div> <!-- Status filter -->
          </div> <!-- First col -->

          <div class='col-md-6'> <!-- Second col -->
          <div> <!-- Supplies filter -->
            <select class='form-control'
                    ng-model='supplies.selectedValue'
                    ng-options='supply.supply for supply in supplies.values'
                    ng-disabled='!supplies.filterActive'>
            </select>

            <label>
              <input type='checkbox' ng-model='supplies.filterActive' />
              Filtruj klasę zaopatrzenia
            </label>
          </div> <!-- Supplies filter -->

          <div> <!-- MeasureUnit filter -->
            <select class='form-control'
                    ng-model='measureUnits.selectedValue'
                    ng-options='measureUnit.measureUnit for measureUnit in measureUnits.values'
                    ng-disabled='!measureUnits.filterActive'>
            </select>

            <label>
              <input type='checkbox' ng-model='measureUnits.filterActive' />
              Filtruj jednostkę miary
            </label>
          </div> <!-- MeasureUnit filter -->

        </div> <!-- Second Col -->
        </accordion-group>
      </accordion>

</div> <!-- First row -->

<div class='row'> <!-- Second row -->
  <div class='col-md-3'>
    <input class='form-control'
           placeholder='Wpisz szukany ciąg znaków'
           ng-model='items.filter'>
  </div>

  <div class='col-md-1'>
    <button type='button'
            class='btn btn-primary'
            ng-model='items.searchBtn'
            ng-click='items.newSearch()'>Szukaj</button>
  </div>

  <div class='col-md-4'>
    <div class="btn-group">
        <label class='btn btn-success' ng-model='items.searchField' btn-radio='"Name"' uncheckable>Szukaj w nazwie</label>
        <label class='btn btn-success' ng-model='items.searchField' btn-radio='"JIM"' uncheckable>Szukaj w JIM</label>
        <label class='btn btn-success' ng-model='items.searchField' btn-radio='"Description"' uncheckable>Szukaj w opisie</label>
    </div>
  </div>

  <div class='col-md-4'>
    <div class="btn-group">
        <label class='btn btn-success' ng-model='items.searchType' btn-radio='"All"' uncheckable>Każde ze słów</label>
        <label class='btn btn-success' ng-model='items.searchType' btn-radio='"Any"' uncheckable>Dowolne słowo</label>
        <label class='btn btn-success' ng-model='items.searchType' btn-radio='"Exactly"' uncheckable>Dokładnie</label>
    </div>
  </div>
</div> <!-- Second row -->

<div class='row'> <!-- Table row -->
  <div class='col-md-12'>
  <table class='table table-striped table-hover table-condensed'>
    <tr>
      <th>Lp</th>
      <th>Nazwa</th>
      <th>Numer JIM</th>
    </tr><tr ng-repeat='item in items.disValues'
             ng-click='itemShelf.addItem(item)' >
      <td>{{ (items.currPage-1)*10+$index+1 }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.JIM }}</td>
    </tr>
  </table>
  </div>
</div> <!-- Table row -->

<div class='row'> <!-- Pagination row -->
  <div class='col-md-12 text-right'>
    <pagination total-items='items.itemsNumber'
                class='pagination-sm'
                boundary-links='true'
                max-size='10'
                ng-model='items.currPage'
                ng-change='items.changePage()'></pagination>
  </div>
</div> <!-- Pagination row -->

  <accordion close-others='false'>
    <accordion-group ng-repeat='item in itemShelf.items'>
      <accordion-heading> {{ item.name }} </accordion-heading>
<div class='row'> <!-- Item header -->
        <div class='col-md-12'>
            <h4>{{ item.name }}<small><a href ng-click='itemShelf.deleteItem(item)'>(zamknij)</a></small></h4>
        </div>
</div>
<div class='row'>
        <div class='col-md-2'>
          <h5>nr JIM: <strong>{{ item.JIM }}</strong></h5>
        </div>

        <div class='col-md-2'>
          <h5>j. miary: <strong>{{ item.measureUnit.measureUnit }}</strong></h5>
        </div>

        <div class='col-md-2'>
          <h5>status: <strong>{{ item.status.status }}</strong></h5>
        </div>

        <div class='col-md-3'>
          <h5>gestor: <strong>{{ item.gestor.gestorName }}</strong></h5>
        </div>

        <div class='col-md-3'>
          <h5>kl. zaop.: <strong>{{ item.supply.supply }}</strong></h5>
        </div>
</div> <!-- Item header -->
<div class='row'>
        <div class='col-md-12'>
          {{ item.description }}
        </div>
</div>
    </accordion-group>
  </accordion>
<!-- itemShelf: {{ itemShelf }} -->
</div> <!-- Container -->
{% endverbatim %}
{% endblock %}
<script src='{% static "js/angular/angular.js" %}'></script>
<script src='{% static "js/angular/angular-resource.js" %}'></script>
<script src='{% static "js/angular/angular-route.js" %}'></script>
<script src='{% static "js/angular/angular-bootstrap.js" %}'></script>
<script src='{% static "js/viewer.js" %}'></script>
</body>

</html>